EDA
---
Exploratory Data Analysis

In [8]:
#import libraries these four libraries aree mmust in EDA analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Steps in EDA
---

1: Import Dataset or load it

In [9]:
#load or import dataset
df=sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

2: Bigger picture of data

In [10]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [12]:
df.isnull().sum() #finding or missing null values

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [21]:
df2=df

In [23]:
df2.isnull().sum()*100/len(df2)
df2  #% calculation

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

Assignment
How to deal with missing values in EDA analysis
categorial objects etc,boolean and int & float values

In [27]:
#print (df2['age'].min())
#print (df2['age'].max())
#print (df2['age'].mean())

In [32]:
df2=df

In [20]:
df2=df

In [35]:
df2=df2['age'].fillna(df2['age'].mean())
df

KeyError: 'age'

In [19]:
df2.isnull().sum()

NameError: name 'df2' is not defined

In [ ]:
df["age"].unique()

Steps
---
Data wrangling and EDA

1. Import Libraries
2. import dataset
3. explore your datset
   1. Information
   2. datatype
   3.  missing values
   4.  take sense of your data
   5.  
4. understanding the variables
5. Relationship between thhe variables(Heatmap, pairplot)
6. Brainstorming
   1. Normalize (Techniques:  Assignment for you)
   2. Removing outliners (Assignment)
7. after we will get cleaned and tidy data
8. Ready for prediction analysis
9. Ready for predictions
10. ready for Machine Learning
11. Ready for DL