Tree classifiers model

In [42]:
#Import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
#import dataset
df =pd.read_csv('mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

replacing dummy varible male and female with 1 and 0

In [53]:
df['gender']=df['gender'].replace('Male',1)
df['gender']=df['gender'].replace('Female',0)
df.head(10)

   age  weight  gender likeness   height
0   27    76.0       1  Biryani  170.688
1   41    70.0       1  Biryani      165
2   29    80.0       1  Biryani      171
3   27   102.0       1  Biryani      173
4   29    67.0       1  Biryani      164
5   28    46.0       0  Biryani      174
6   27    64.3       0  Biryani      151
7   34    98.0       1  Biryani    176.5
8   32    87.5       1  Biryani      181
9   22    80.0       1  Biryani    184.5

In [54]:
#selection of input and output variables
X=df[['weight','gender']]
y= df['likeness']

In [55]:
X

     weight  gender
0      76.0       1
1      70.0       1
2      80.0       1
3     102.0       1
4      67.0       1
..      ...     ...
240    60.0       1
241    70.0       1
242    80.0       1
243    65.0       1
244    56.0       0

[245 rows x 2 columns]

In [56]:
##Now apply ML algorithm
from sklearn.tree import DecisionTreeClassifier
#create and fit the model
model = DecisionTreeClassifier().fit(X,y)

#prediction 
model.predict([[25,0]])

c:\Users\B S COM\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

### now to measure accuracy of the model

In [71]:
#split data into train and test(80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2) #80% training data and 20% testing data
 
# #create model 
model= DecisionTreeClassifier()
model.fit(X_train,y_train)
predicted_values = model.predict(X_test)
predicted_values

#checking score
score=accuracy_score(y_test,predicted_values)
score

0.6122448979591837

### How to train and save our model 
----

In [72]:

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib
model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model, "foodie.joblib")

['foodie.joblib']

 AssignmentHow to import/ run a stored or saved model on our data?

In [74]:
#graphs 
from sklearn import tree
model=DecisionTreeClassifier().fit(X,y)
#graphical evolution /look into what happened
tree.export_graphviz(model,out_file='foodie.dot',
                     feature_names=['age','gender'],
                     class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)